<!DOCTYPE html>
<html>
<head>
  <title>Tweetlr: {{ title }}</title>
  <link rel="stylesheet" href="/styles.css"/>
  <script type="text/javascript">

    var el = document.getElementById.bind(document);

    function charCount() {
      return el("tweet").value.length;
    }

    function updateCounter() {
      el("chars-left").innerHTML = 140 - charCount();
      el("submit-btn").disabled = charCount() < 1;
    }

    window.onload = function() {
      var box = el("tweet");
      box.onkeyup = box.onchange = box.oncut = box.onpaste = updateCounter;
      updateCounter(); // in case of unsubmitted text after a page refresh
      window.onsubmit = function() {
        return charCount() > 0; // prevent submiting empty tweets
      }
    }

  </script>
</head>
<body>

  <header>
    <h1>tweetlr</h1>
    <nav>
      logged in as <a href="/by/{{ username }}">@{{ username }}</a>
      | <a href="/logout">log out</a>
    </nav>
  </header>

  <div id="main">

    <form id="form" method="post" action="/tweet">
      <textarea id="tweet" name="tweet" placeholder="tweet yo self."
        maxlength="140"></textarea>
      <span id="chars-left">140</span>
      <input id="submit-btn" type="submit" value="tweet"/>
    </form>

    <h2>{{ title }}</h2>

    <div id="tweets">
    {% for t in tweets %}
      <p><author>{{ t.username }}</author> {{ t.tweet | linkify }}</p>
    {% endfor %}
    </div>
  </div>

</body>
</html>
